<div class="background background0"></div>
<div class="background background1"></div>
<div class="background background2"></div>
<div class="background background3"></div>
<div class="background background4"></div>
<div class="background background5"></div>
<div class="background background6"></div>
<div class="background background7"></div>
<div class="background background8"></div>
<div class="background background9"></div>
<div class="criterion">
  <div class="text text0">
        <img src="img/O.png" alt="Imagen O">
  </div>
  <div class="text text1">
        <img src="img/N.png" alt="Imagen N">
  </div>
  <div class="text text2">
        <img src="img/E.png" alt="Imagen E">
  </div>
  <div class="text text3"></div>
  <div class="text text4">
        <img src="img/P.png" alt="Imagen P">
  </div>
  <div class="text text5">
        <img src="img/I.png" alt="Imagen I">
  </div>
  <div class="text text6">
        <img src="img/E.png" alt="Imagen E">
  </div>
  <div class="text text7">
        <img src="img/C.png" alt="Imagen C">
  </div>
  <div class="text text8">
        <img src="img/E.png" alt="Imagen E">
  </div>
  <div class="text text9"></div>
  
  
</div>