<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>User Information and Form</title>

	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.7.0.js"
		integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
		crossorigin="anonymous"></script> <!-- Cargando la versión completa de jQuery -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="static/css/admin-page.css"
		th:href="@{/css/admin-page.css}">
	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

	<script type="text/javascript">
	    $(document).ready(function() {
	        //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
	        $('#listOf').DataTable();
	    } );
	</script>
</head>
<body>
<body>
    <div class="d-flex">
        <!-- Barra lateral -->
		<nav id="sidebar" class="bg-light sticky-top">
			<div class="sidebar-header bg-dark">
				<h3>Admin Panel</h3>
			</div>
			<ul class="list-unstyled components">
				<li>
					<a class="btn btn-outline-dark btn-block" th:href="@{/sagaForm}">Sagas</a>
				</li>
				<li>
					<a class="btn btn-outline-dark btn-block" th:href="@{/arcForm}">Arcos</a>
				</li>
				<li>
					<a class="btn btn-outline-dark btn-block" th:href="@{/volumeForm}">Tomos</a>
				</li>
				<li>
					<a class="btn btn-outline-dark btn-block" th:href="@{/mangaChapterForm}">Capítulos del manga</a>
				</li>
				<li>
					<a class="btn btn-outline-dark btn-block" th:href="@{/animeChapterForm}">Capítulos del anime</a>
				</li>
				<li>
					<a class="btn btn-outline-dark btn-block" th:href="@{/characterForm}">Personajes</a>
				</li>
				<li>
					<a class="btn btn-outline-dark btn-block" th:href="@{/crewForm}">Tripulación/Equipo</a>
				</li>
				<li>
					<a class="btn btn-outline-dark btn-block" th:href="@{/roleForm}">Rol</a>
				</li>
				<li>
					<a class="btn btn-outline-dark btn-block" th:href="@{/occupationForm}">Ocupaciones</a>
				</li>
				<li>
					<a class="btn btn-outline-dark btn-block" th:href="@{/raceForm}">Razas/Especies</a>
				</li>
				<li>
					<a class="btn btn-outline-dark btn-block" th:href="@{/organizationzForm}">Organizaciones</a>
				</li>
				<li>
					<a class="btn btn-outline-dark btn-block" th:href="@{/akumaNoMiForm}">Akuma No Mi/Fruta del diablo</a>
				</li>
				<li>
					<a class="btn btn-outline-dark btn-block" th:href="@{/ubicationForm}">Ubicaciones</a>
				</li>
				<li>
					<a class="btn btn-outline-dark btn-block" th:href="@{/locationForm}">Locación</a>
				</li>
			</ul>
		</nav>

        <!-- Contenido principal -->
        <div class="container" th:insert="~{admin-pages/admin-content.html}" th:remove="tag"></div>
    </div>
</html>