<div class="table-responsive">
	<table id="listOf" class="table table-bordered table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col" class="col-lg-1">Clave</th>
				<th scope="col" class="col-lg-2">Nombre</th>
				<th scope="col" class="col-lg-2">Saga</th>
				<th scope="col" >Manga</th>
				<th scope="col" >Anime</th>
				<th class="col-lg-1"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="arc: ${arcList}" th:class="${#strings.isEmpty(arc.uniqueKey) or #strings.isEmpty(arc.name) or #lists.isEmpty(arc.saga) or (#lists.isEmpty(arc.mangaChapters) and (!arc.fillerArc)) or #lists.isEmpty(arc.animeChapters)} ? 'missing-data-row' : ''">
				<td th:text="${arc.uniqueKey}"></td>
				<td th:text="${arc.name + (arc.fillerArc ? ' / relleno' : '')}"></td>
				<td>
					<ul class="list-unstyled">
						<li th:each="saga: ${arc.saga}" th:text="${saga.uniqueKey} +' - '+ ${saga.name}"></li>
					</ul>
				</td>
				<td>
					<ul class="list-unstyled">
						<li th:if="${arc.fillerArc}">Arco de relleno - No aplica</li>
						<li th:if="${!arc.fillerArc}" th:each="mangaChapter : ${arc.mangaChapters}" th:text="${mangaChapter.volume.uniqueKey + ' | ' + mangaChapter.uniqueKey + ' - ' + mangaChapter.name}"></li>
					</ul>
				</td>
				<td>
					<ul class="list-unstyled">
						<li th:each="animeChapters: ${arc.animeChapters}" th:text="${animeChapters.uniqueKey} +' - '+ ${animeChapters.name} + ' ' + ${animeChapters.fillerChapter ? ' / relleno' : ''}" ></li>
					</ul>
				</td>
				<td>
					<a href="#" th:href="@{'/editArc/' + ${arc.id}}"><i class="fas fa-edit"></i></a> | 
					<a type="submit" th:href="@{'deleteArc/' + ${arc.id}}" onclick="return confirm('¿Estás seguro de que deseas eliminar este registro?')"><i class="fas fa-user-times"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>