<form class="form" role="form" autocomplete="off" th:object="${characterForm}" th:action="${editMode} ?@{/editCharacter} : @{/characterForm}" method="post">

	<input class="form-control" type="hidden" th:id="${editMode}" th:field="${characterForm.id}">

    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
        <div class="col-lg-9">
            <input class="form-control" type="text" th:field="${characterForm.name}">
			<div class="alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
    </div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Estatus</label>
		<div class="col-lg-9">
			<div class="custom-control custom-radio custom-control-inline">
				<input type="radio" id="statusAlive" name="status" class="custom-control-input" th:field="${characterForm.status}" th:value="${false}">
				<label class="custom-control-label mr-5" for="statusAlive">Vivo</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
				<input type="radio" id="statusDead" name="status" class="custom-control-input" th:field="${characterForm.status}" th:value="${true}">
				<label class="custom-control-label" for="statusDead">Muerto</label>
			</div>
		</div>
	</div>
    <div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Akuma no mi/Fruta del diablo</label>
		<div class="col-lg-9">
			<select th:field="${characterForm.akumaNoMi}" class="form-control">
				<option value="" selected>Selecciona una Fruta</option>
				<option th:each="akumaNoMi : ${akumaNoMi}" th:value="${akumaNoMi.id}" th:text="${akumaNoMi.name}" th:order-by="${akumaNoMi.name}"></option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('akumaNoMi')}" th:errors="*{akumaNoMi}"></div>
		</div>
	</div>
	<div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Recompenza</label>
        <div class="col-lg-9">
            <input class="form-control" type="text" th:field="${characterForm.bounty}">
			<div class="alert-danger" th:if="${#fields.hasErrors('bounty')}" th:errors="*{bounty}"></div>
        </div>
    </div>
    <div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Raza/Especie</label>
		<div class="col-lg-9">
			<select th:field="${characterForm.race}" class="form-control">
				<option value="" selected>Selecciona una Raza/Especie</option>
				<option th:each="race : ${race}" th:value="${race.id}" th:text="${race.name}" th:order-by="${race.name}"></option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('race')}" th:errors="*{race}"></div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Lugar de origen</label>
		<div class="col-lg-9">
			<select th:field="${characterForm.crewRoles}" class="form-control">
				<option value="" selected>Selecciona un lugar</option>
				<option th:each="origin : ${location}" th:value="${origin.id}" th:text="${origin.name}" th:order-by="${origin.name}"></option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}"></div>
		</div>
	</div>
    <div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Ocupación/Trabajo</label>
		<div class="col-lg-9">
			<select th:field="${characterForm.occupation}" class="form-control">
				<option value="" selected>Selecciona una ocupación</option>
				<option th:each="occupation : ${occupation}" th:value="${occupation.id}" th:text="${occupation.name}" th:order-by="${occupation.name}"></option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('occupation')}" th:errors="*{occupation}"></div>
		</div>
	</div>
    <div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Organización mundial</label>
		<div class="col-lg-9">
			<select th:field="${characterForm.organizationz}" class="form-control">
				<option value="" selected>Selecciona una organización</option>
				<option th:each="organizationz : ${organizationz}" th:value="${organizationz.id}" th:text="${organizationz.name}" th:order-by="${organizationz.name}"></option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('organizationz')}" th:errors="*{organizationz}"></div>
		</div>
	</div>
    <div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Posición en la organización</label>
		<div class="col-lg-9">
			<select th:field="${characterForm.organizationzRoles}" class="form-control">
				<option value="" selected>Selecciona una posición</option>
				<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}" th:order-by="${role.name}"></option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('organizationzRoles')}" th:errors="*{organizationzRoles}"></div>
		</div>
	</div>
    <div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Tripulación o grupo</label>
		<div class="col-lg-9">
			<select th:field="${characterForm.crew}" class="form-control">
				<option value="" selected>Selecciona una agrupación</option>
				<option th:each="crew : ${crew}" th:value="${crew.id}" th:text="${crew.name}" th:order-by="${crew.name}"></option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('crew')}" th:errors="*{crew}"></div>
		</div>
	</div>
    <div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Rol en la Tripulación/Equipo</label>
		<div class="col-lg-9">
			<select th:field="${characterForm.crewRoles}" class="form-control">
				<option value="" selected>Selecciona el rol en la tripulación</option>
				<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}" th:order-by="${role.name}"></option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('crewRoles')}" th:errors="*{crewRoles}"></div>
		</div>
	</div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Edad</label>
        <div class="col-lg-9">
            <input class="form-control" type="text" th:field="${characterForm.age}">
            <div class="alert-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Fecha de nacimiento</label>
        <div class="col-lg-9">
            <input class="form-control" type="text" th:field="${characterForm.birthdate}" placeholder="día-mes" maxlength="12">
            <div class="alert-danger" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Tamaño/Altura (cm)</label>
        <div class="col-lg-9">
            <input class="form-control" type="text" th:field="${characterForm.size}">
            <div class="alert-danger" th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></div>
        </div>
    </div>
    <div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Primera aparición en el manga</label>
		<div class="col-lg-9">
			<select th:field="${characterForm.firstApparitionManga}" class="form-control">
				<option value="" selected>Selecciona un Capítulo</option>
				<option th:each="firstApparitionManga : ${firstApparitionManga}" th:value="${firstApparitionManga.id}" th:text="${firstApparitionManga.name}" th:order-by="${firstApparitionManga.name}"></option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('firstApparitionManga')}" th:errors="*{firstApparitionManga}"></div>
		</div>
	</div>
    <div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Primera aparición en el anime</label>
		<div class="col-lg-9">
			<select th:field="${characterForm.firstApparitionAnime}" class="form-control">
				<option value="" selected>Selecciona un Capítulo</option>
				<option th:each="firstApparitionAnime : ${firstApparitionAnime}" th:value="${firstApparitionAnime.id}" th:text="${firstApparitionAnime.name}" th:order-by="${firstApparitionAnime.name}"></option>
			</select>
			<div class="alert-danger" th:if="${#fields.hasErrors('firstApparitionAnime')}" th:errors="*{firstApparitionAnime}"></div>
		</div>
	</div>
	<div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Pequeña descripción</label>
        <div class="col-lg-9">
            <textarea class="form-control" type="text" th:field="${characterForm.description}" rows="4" maxlength="255"></textarea>
			<div class="alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>
    </div>
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<a class="btn btn-secondary col-lg-3" th:href="@{/characterForm/cancel}">Cancelar</a>
			<input type="submit" class="btn btn-primary col-lg-3" value="Guardar" th:value="${editMode}?'Guardar Cambios':'Crear'">
		</div>
	</div>
	<div class="alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error Message</div>
	
</form>