<div class="table-responsive">
    <table id="listOf" class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Miembros</th>
                <th scope="col">Recompenza total</th>
                <th class="col-lg-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="crew: ${crewList}">
                <td th:text="${crew.name}"></td>
                <td>
                    <ul class="list-unstyled">
                        <li th:each="nakama: ${crew.nakamas}" th:text="${nakama.name} + ' - ' + ${nakama.crewRoles.name} "></li>
					</ul>
				</td>
                <td th:text="${crew.crewBounty}"></td>
                <td>
                    <a href="#" th:href="@{'/editCrew/' + ${crew.id}}"><i class="fas fa-edit"></i></a> | 
                    <a type="submit" th:href="@{'deleteCrew/' + ${crew.id}}" onclick="return confirm('¿Estás seguro de que deseas eliminar este registro? Esta acción no se puede deshacer y podria alterar todos los registros.')"><i class="fas fa-user-times"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>