<div class="table-responsive">
	<table id="listOf" class="table table-bordered table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col" class="col-lg-1">Clave</th>
				<th scope="col">Nombre</th>
				<th scope="col">Arco</th>
				<th scope="col">Tomo</th>
				<th class="col-lg-1"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="mangaChapter: ${mangaChapterList}" th:class="${#strings.isEmpty(mangaChapter.uniqueKey) or #strings.isEmpty(mangaChapter.name) or #lists.isEmpty(mangaChapter.volume) or #lists.isEmpty(mangaChapter.mangaArc)} ? 'missing-data-row' : ''">
                <td th:text="${mangaChapter.uniqueKey}"></td>
                <td th:text="${mangaChapter.name}"></td>
                <td>
                    <ul class="list-unstyled">
                        <li th:each="arc: ${mangaChapter.mangaArc}" th:text="${arc.uniqueKey} +' - '+ ${arc.name}"></li>
                    </ul>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li th:each="volume: ${mangaChapter.volume}" th:text="${volume.uniqueKey} +' - '+ ${volume.name}"></li>
                    </ul>
                </td>
                <td>
                    <a href="#" th:href="@{'/editMangaChapter/' + ${mangaChapter.id}}"><i class="fas fa-edit"></i></a> | 
                    <a type="submit" th:href="@{'deleteMangaChapter/' + ${mangaChapter.id}}" onclick="return confirm('¿Estás seguro de que deseas eliminar este registro?')"><i class="fas fa-user-times"></i></a>
                </td>
            </tr>
		</tbody>
	</table>
</div>