<div class="table-responsive">
    <table id="listOf" class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Miembros</th>
                <th class="col-lg-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="organizationz: ${organizationzList}">
                <td th:text="${organizationz.name}"></td>
                <td>
					<ul class="list-unstyled">
						<li th:each="member: ${organizationz.members}" th:text="${member.name} + ' - ' + ${member.organizationzRoles.name}"></li>
					</ul>
				</td>
                <td>
                    <a href="#" th:href="@{'/editOrganizationz/' + ${organizationz.id}}"><i class="fas fa-edit"></i></a> | 
                    <a type="submit" th:href="@{'deleteorganizationz/' + ${organizationz.id}}" onclick="return confirm('¿Estás seguro de que deseas eliminar este registro? Esta acción no se puede deshacer y podria alterar todos los registros.')"><i class="fas fa-user-times"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>