<div class="table-responsive">
    <table id="listOf" class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-lg-1">Clave</th>
                <th scope="col">Nombre</th>
                <th scope="col">Arcos</th>
                <th class="col-lg-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="saga: ${sagaList}" th:class="${#strings.isEmpty(saga.uniqueKey) or #strings.isEmpty(saga.name) or #lists.isEmpty(saga.arcs)} ? 'missing-data-row' : ''">
                <th th:text="${saga.uniqueKey}"></th>
                <td th:text="${saga.name}"></td>
                <td>
                    <ul class="list-unstyled">
                        <li th:each="arc: ${saga.arcs}" >
                            <span th:text="${arc.uniqueKey + ' - ' + arc.name + (arc.fillerArc ? ' / relleno' : '')}"></span>
                        </li>
                    </ul>
                </td>
                <td>
                    <a href="#" th:href="@{'/editSaga/' + ${saga.id}}"><i class="fas fa-edit"></i></a> | 
                    <a type="submit" th:href="@{'deleteSaga/' + ${saga.id}}" onclick="return confirm('¿Estás seguro de que deseas eliminar este registro? Esta acción no se puede deshacer y podria alterar todos los registros.')"><i class="fas fa-user-times"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>